## NAMA  : YOAN NATASYA AGUSTIN SEBASTIAN ##
## NIM   : 103102430001 ##
## KELAS : DS-04-02 ##

# Tipe Data & Operator Python #

### How to print ###

In [10]:
print("Hello, World!")

Hello, World!

In [12]:
print(f"Hello, World!")

Hello, World!

### Komentar ###

In [17]:
"""
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
"""

print("Komentar tidak akan mengeluarkan output apapun")

Komentar tidak akan mengeluarkan output apapun

### Variable ###

Aturan Penulisan Variabel:

Nama variabel boleh diawali menggunakan huruf atau garis bawah _. Contoh: nama, _nama, namaKu, nama_variabel
Karakter selanjutnya dapat berupa huruf, garis bawah _ atau angka. Contoh: __nama, n2, nilai1
Variabel tidak boleh dimulai dengan angka ataupun simbol.
Variabel tidak boleh berupa kata kunci (keyword) yang ada dalam Python. Contoh: if, else, while, for, dan masih banyak lagi

#### contoh : ####

In [23]:
# Variabel

Nama = "Yoan"
umur = 19
status_mahasiswa = "aktif"
statusmahasiswa = "tidak aktif"

### MultiStatment Variabel ###

In [38]:
nama = "Sayyid"
a = 10; b = 50
kesibukan, keterangan = 'Berkuliah','Institut Teknologi Telkom Surabaya'

In [40]:
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Sayyid dan Umur saya adalah 60 Tahun dan sedang Berkuliah di Institut Teknologi Telkom Surabaya

### Input dari Pengguna ###

In [43]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Halo, aku", nama, 'dan aku', makan, 'makan mie goreng yang harganya Rp', harga)

Masukkan nama Anda:  Yoan
Berapa harganya?:  10000

Halo, aku Yoan dan aku sudah makan ayam goreng yang harganya Rp 10000

### Percabangan ###

In [48]:
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print("Selamat anda lulus MatKul Algoritma & Pemrograman!")
elif nilai == 20:
    print('Semoga Lulus')
else:
    print("Maaf anda tidak lulus")

Masukkan nilaimu:  95

Selamat anda lulus MatKul Algoritma & Pemrograman!

### Looping and While ###

In [55]:
for i in range(1,5):
    print(i)
    print('Namaku',i)

1
Namaku 1
2
Namaku 2
3
Namaku 3
4
Namaku 4

In [59]:
names = ['Yoan',"Fira","Ode","Mella"]
for name in names:
    print("Nama Saya",name)
    print("Nama panggilan saya",name)

Nama Saya Yoan
Nama panggilan saya Yoan
Nama Saya Fira
Nama panggilan saya Fira
Nama Saya Ode
Nama panggilan saya Ode
Nama Saya Mella
Nama panggilan saya Mella

### Fungsi ###

In [62]:
def jumlah(angka1, angka2):
    hasil = angka1+angka2
    return hasil

def pengurangan(angka1, angka2):
    hasil = angka1-angka2
    return hasil

In [68]:
jumlah(14,4)

18

In [70]:
pengurangan(18,15)

3